
<div *ngFor="let projects of projectInfo" class="col-md-6 col-sm-12 col-xs-12">
  projects[projectTitle]
  <figure class="effect">
    <img src="https://factualnote.com/img/tools.png" alt="Factual Note">

    <figcaption>
      <h3>Factual Note</h3>
      <p>Data Annotation tool</p>
      <p><strong>Tags:</strong> <br>[List of skills]</p>
      <a href="https://www.factualnote.com/" target="_blank">View more</a>
      <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
    </figcaption>
  </figure>
</div>
