
<div class="col-md-6 col-sm-12 col-xs-12">
  Factual Note
  <figure class="effect">
    <img src="https://factualnote.com/img/tools.png" alt="Factual Note">

    <figcaption>
      <h3>Factual Note</h3>
      <p>Data Annotation tool</p>
      <p><strong>Tags:</strong> <br>PHP,.Net,HTML,Java Script, MongoDB</p>
      <a href="https://www.factualnote.com/" target="_blank">View more</a>
      <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
    </figcaption>
  </figure>
</div>
<div class="col-md-6 col-sm-12 col-xs-12" >
  Clevermoe - Digital Marketing
  <figure class="effect">
    <img src="https://clevermoe.com/img/about.jpg" alt="Clevermoe" height="172px">
    <figcaption>
      <h3>Clevermoe</h3>
      <p>Digital Marketing</p>
      <p><strong>Tags:</strong> <br>PHP,.Net,HTML,Java Script, MongoDB</p>
      <a href="https://clevermoe.com" target="_blank">View more</a>
      <span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
    </figcaption>
  </figure>
</div>