<div class="col-md-8">
  <h3>About me</h3>
  <!-- <p>{{ userInfo['aboutMe'] }}</p> -->
  <ul class="list-group" style="list-style-type: circle !important;"><!-- start of  main list-->
    <li>
      Digital Transformation
      <ul>
          <li>
            Managing Digital Transformation projects within the given timelines, cost and meeting key performance indicators using technology
frameworks and advanced business analytics techniques. Performing & developing business insights & strategy, business process reengineering
& transformation by interacting with the CxO level people. Providing consulting, advisory & architectural solutions on Digital
Strategy & Transformation. Identifying new sources of growth opportunities by leveraging digitalization.
          </li>
      </ul>
   
  </li>
  <li>
    Program Management
    <ul>
        <li>
          Supervising projects for scheduling/analysis, effort & cost estimation, resource deployment & allocation and delivery. Monitoring
development activities; reporting project progress and providing technical support to a project team. Delivering and implementing the
project as per scheduled milestones; ensuring compliance to quality standards. Developing, testing, troubleshooting and debugging of the
application. Working in close coordination with the lead generation team to identify and develop new business. Meeting deadlines and
TAT without compromising quality norms and adhering to SLA
        </li>
    </ul>
 
</li>
<li>
  Solution Architect
  <ul>
      <li>
        Understanding client problem statements and delivering solutions. Directing analysis and workstreams within broader projects including
due diligence, negotiations and deal execution. Managing overall operations for executing projects involving scoping, planning,
requirement, and GAP analysis including interfacing needs, training, resource mobilization and execution within cost and time
parameters. Troubleshooting various problems that arise in a day-to-day work and fix the issues; monitoring SQL Server Error Logs and
checking email.
      </li>
  </ul>

</li>
<li>
  Delivery Management
  <ul>
      <li>
        Meticulous execution with an eye for details on technical delivery, scope management and quality management. Managed the complete
delivery environment and associated controls and processes; responsible for the smooth and timely release to the production
environment. Developed and maintained release schedules align with business strategy. Reported overall status of the project delivery to
the client and senior management.
      </li>
  </ul>

</li>
<li>
  Workforce Management
  <ul>
      <li>
        
Directing and leading the technical personnel. Imparting continuous on-the-job training to the workforce for accomplishing greater
operational effectiveness/efficiency. Working on the talent pool and succession planning of the workforce, appraising their KRA-based
performance. Evaluating facts surrounding schedule adherence, scheduling and workforce management functions including operational
situations which can impact productivity such as tool or system outages
      </li>
  </ul>
</li>
</ul>
</div>
