<div id="experiences">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-12">
        <h2 class="title">Experiences</h2>
        <!-- <p class="subtitle">{{ userExperiencesInfo['myExperiences'] }}</p> -->

        Dynamic Software Specialist with nearly 16 years of rich experience across multiple organizations, leading cross-functional teams in
the development, documentation and delivery of process innovations for driving the attainment of business goals; exceptional
proficiency in defining products road map as part of Application Simplification and Digitalization
• Technology and Business Process Expert in Retail, Healthcare, Hospitality and Finance Industry, offering a global, multi-cultural &
diversified career in Automation, Internal Digital Process Transformation, IT Strategy/Planning, Program Management and Object-
Oriented Programming and Design
• Proficient in managing complex IT operations and achieving client expectations; possess strong exposure in spearheading various
projects encompassing the development of project plans, schedule creation, and adherence cost control measures, quality assurance,
resource procurement, change management, risk management & meeting of PMI standards
• Executed Critical Business responsibilities in Process Transformation of internal processes and ensured Impeccable Digital
Experience; proficiency in development using Microsoft.NET technologies like C#, .NET Framework, ASP.NET, ASP.NET MVC
Framework, ADO.NET, AJAX, LINQ, VB.NET,Web Services, SOAP, SQL - Server, PostgreSQL and Visual Studio
• Digital Transformation Specialist with an impeccable record of developing & encouraging digital working cultures by shaping the
skills, processes, people & tools; leading the ideation, design & delivery of innovative technology products, resulting in major savings
and business automation
• Extensive experience in aligning operations with business strategy; designed & drove large and complex transformation solutions
and addressed complex business requirements through innovative software solutions.

        <hr>
        <app-educations></app-educations>
        <hr>
        <app-careers></app-careers>
        <hr>
        <app-certificates></app-certificates>
      </div>
    </div>
  </div>

</div>
